@import '~loaders.css/src/animations/ball-pulse-rise.scss';
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lilita+One&family=M+PLUS+Rounded+1c:wght@500&display=swap');

.loader-active{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
 
  }
  // parent div for code and back button
  .parent{
    margin: 0% auto;
    width:620px;
   margin-bottom: -10px;
   margin-top: 10px;
    padding:0% 4% ;
  }

  .parent2{
    margin: 0% auto;
    margin-bottom: -45px;
    margin-top: 10px;
    width: 620px;
    z-index: 100;
    width:620px;
   top: 10px;
    padding:0% 4% ;
  }

  .parent2s{
    margin: 0% auto;
    margin-bottom: -45px;
    margin-top: 10px;
    left: 50px;
    z-index: 100;
    position: absolute;
   top: 10px;
    padding:0% 4% ;
  }

  .code{
    position: relative;
    box-sizing: border-box;
    font-size: x-large;
    color: white;
    font-weight: 600;
    width: fit-content;
    margin-top: 20px ;
    margin: 0% auto;
    margin-bottom: -10px;
    border: 3px dashed rgb(0, 0, 0); 
    padding: 5px 40px;
    border-radius: 20px;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.5); 
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
  }

  // the main elemnt of the paper
  .main{
    cursor: default;
    margin:20px auto;
    margin-bottom: 2%;
    width:620px;
    background-color: rgba(255, 255, 255, 0.884) !important;
    padding:4% ;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    overflow: hidden;
    position: relative;
    border: black;
    border-style:double ;
    box-shadow: inset 0 0 0 1px black; 
   
    div:first-child {
      p{
      margin: auto !important;
      }
      h1{
        margin: auto !important;
        }
        h2{
          margin: auto !important;
          }
          h3{
            margin: auto !important;
            }
            h4{
              margin: auto !important;
              }
              h5{
                margin: auto !important;
                }
                h6{
                  margin: auto !important;
                  }
    }

    p{
      position: relative;
      width: fit-content;
     height: fit-content;
      background-color: rgba(0, 0, 0, 0) !important;
      z-index: 4;
      
      
    }
    h1{
      position: relative;
    width: fit-content;
      background-color: rgba(0, 0, 0, 0) !important;
      z-index: 4;
    }
    h2{
      position: relative;
    width: fit-content;
      background-color: rgba(0, 0, 0, 0) !important;
      z-index: 4;
    }
    h3{
      position: relative;
    width: fit-content;
      background-color: rgba(0, 0, 0, 0) !important;
      z-index: 4;
    }
    h4{
      position: relative;
     width: fit-content;
      background-color: rgba(0, 0, 0, 0) !important;
      z-index: 4;
    }
    h5{
      position: relative;
      width: fit-content;
      background-color: rgba(0, 0, 0, 0) !important;
      z-index: 4;
    }
    h6{
      position: relative;
     width: fit-content;
      background-color: rgba(0, 0, 0, 0) !important;
      z-index: 4;
    }
    
p::before {  
  transform: scaleX(0);
  transform-origin: bottom left;
}
p.hove::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
p::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  inset: 0 0 0 0;
  background: hsla(216, 72%, 78%, 0.496) !important;;
  z-index: -1;
  transition: transform 0.8s ease;
}  
  }

  // the comment
  .popup{
    position: absolute;
    z-index: 10;
    background-color: rgb(225, 244, 141);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: max(60%,320px);
    min-width: 320px;
    width: fit-content;
    height: auto;
    border-radius: 20px;
    border: 1.5px black;
    border-style: solid;
    animation: zoom-in  0.4s ease-in, my-animation 1.5s linear 0.5s infinite alternate ;
    padding: -4px;
    div{
      max-width: 100%;
      border-radius: 20px;
      padding: 8px;
      padding-bottom: 6px;
      margin:2px !important;
      flex-wrap: wrap;
      border: none !important;
      span{
        max-width: 100% !important;
        font-weight: 600 !important;
        font-size: large !important;
        font-family: 'M PLUS Rounded 1c', sans-serif  !important;
      }

    }
  }
  
  @keyframes my-animation {
    from {
      transform: translateY(0px); 
    }
    to {
      transform: translateY(10px);
    }
  }

  @keyframes zoom-in {
    0% {
    transform: scale(0.1, 0);
    }
    100% {
    transform: scale(1, 1);
    }
    }

  .overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;
    background-color: black;
    opacity: 0.1;
    z-index: 5;
  }

  //the page of NOT FOUND
  .sorry{
    width: 100vw;
    height: 100vh;
    position: absolute;
    cursor: default;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    align-items: center;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    h2{
      font-size: 40px;
      color: rgba(240, 248, 255, 0.8);
      text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
      animation: enter 1s ease-in-out;
      z-index: 5;
      margin: 20px;
    }
  }

  @keyframes enter {
    0% {
     
      opacity: 0;
    }
   
    100% {
      opacity: 1;
    }
  }
   
  .image{
    margin-left:-60px ;

   width: 600px;
    height: 100vh;
    z-index: 6;
   
  }

  .snowfall{
    background: url(https://i.imgur.com/T0mBFg2.png);
    background-size:460px 320px;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    position:absolute;
    z-index: 1;
    opacity: 0.4;
    animation:snowfall 18s linear forwards infinite; 
   
  }
  
  @keyframes snowfall{
    0%{
      background-position: 0 0;
    }
    20%{
      background-position: 20px 20px;
    }
    40%{
      background-position: 40px 40px;
    }
    60%{
      background-position: 60px 60px;
    }
    80%{
      background-position: 80px 80px;
    }
    100%{
      background-position: 100px 100px;
    }
  }


 // handle differnt screens
  @media (max-width: 850px) {
    .image{   
      width: 75vw;
      height: 65vh;
      margin-bottom: -20px;
     }
    .sorry{
      flex-direction: column;
    }

  }

  @media (max-width: 680px) {
    .parent2{
      width: 400px;
      margin-bottom: -60px;    
    }
    .popup{
      div{
        span{
          font-size:medium !important;
        }
      }
    }

    .parent{
      margin: 0% auto;
      width: 500px;
     margin-bottom: 10px;     
      padding:1% ;
    }

    .code{
      margin: 0% auto;
      margin-top: 20px ;
      position: relative;
      box-sizing: border-box;
      font-size: large;
      color: white;
      font-weight: 600;
      width: fit-content; 
      border: 3px dashed rgb(0, 0, 0); 
      padding: 5px 40px;
      border-radius: 20px;
      text-shadow: 2px 2px 1px rgba(0,0,0,0.5); 
      box-shadow: 0 10px 15px rgba(0,0,0,0.2);
    }
    
      .main{
        margin:2% auto;
        width: 500px;
        padding:1% ;
        div{
          p{

        span{
          font-size: 10.9pt !important;
        }
          }
        }
      }   
  }


  @media (max-width: 515px) {
    .image{
      width: 80vw;
      height: 50vh;
    }
    .popup{
      div{
        span{
          font-size:100 !important;
        }
      }
    }
    .parent2{
      width: 250px;
      margin-bottom: -50px;
    }

    .parent{
      margin: 0% auto;
      
      width: 310px;
     margin-bottom: 10px;
   
      padding:1% ;
    }
    .code{
      position: relative;
      box-sizing: border-box;
      font-size: large;
      color: white;
      font-weight: 600;
      width: fit-content;
      margin: 0% auto;
      margin-top: 20px ; 
      border: 3px dashed rgb(0, 0, 0); 
      padding: 5px 40px;
      border-radius: 20px;
      text-shadow: 2px 2px 1px rgba(0,0,0,0.5); 
      box-shadow: 0 10px 15px rgba(0,0,0,0.2);
    }
    
      .main{
        margin:2% auto;
        width: 310px;
        padding:1% ;
        div{
          p{
        span{
          font-size: 6.75pt !important;
        }
          }
        }
      }
    
  }









